{
	"openapi": "3.0.2",
	"servers": [
		{
			"url": "https://partner.api.bouyguestelecom.fr/v1",
			"description": "Racine d'url des API PARTENAIRE en PRODUCTION"
		}
	],
	"paths": {
		"/interventions-do": {
			"post": {
				"tags": [
					"creerInterventionDO"
				],
				"summary": "Flux M1: Message transmis par le DO à l’OI pour notifier le début d’intervention.",
				"operationId": "creerInterventionDO",
				"x-secured-access": "strict",
				"security": [
					{
						"creerInterventionDO_auth": [
						]
					}
				],
				"parameters": [
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreerInterventionDO"
							}
						}
					},
					"description": "Objet intervention à déclarer chez l'OI",
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreerInterventionDOOut"
								}
							}
						},
						"description": "Operation Successful"
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CreerInterventionDO400Response"
								}
							}
						}
					}
				},
				"x-security-in": "IDENTITE_ET_GESTION",
				"x-security-out": "IDENTITE_ET_GESTION"
			},
			"put": {
				"tags": [
					"modifierInterventionDO"
				],
				"summary": "Flux M3: Le message M3 déclare la fin d’intervention du DO",
				"operationId": "modifierInterventionDO",
				"x-secured-access": "none",
				"parameters": [
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ModifierInterventionDO"
							}
						}
					},
					"description": "Objet intervention à déclarer chez l'OI",
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ModifierInterventionDOOut"
								}
							}
						},
						"description": "Operation Successful"
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ModifierInterventionDO400Response"
								}
							}
						}
					}
				},
				"x-security-in": "IDENTITE_ET_GESTION",
				"x-security-out": "IDENTITE_ET_GESTION"
			}
		},
		"/interventions-do/compte-rendu": {
			"post": {
				"tags": [
					"compteRenduInterventionDO"
				],
				"summary": "Compte rendu de fin d'intervention qui intervient juste aprés l'envoit du  M3.",
				"operationId": "compteRenduInterventionDO",
				"x-secured-access": "strict",
				"security": [
					{
						"compteRenduInterventionDO_auth": [
						]
					}
				],
				"parameters": [
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CompteRenduInterventionDO"
							}
						}
					},
					"description": "Objet intervention à déclarer chez l'OI",
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CompteRenduInterventionDOOut"
								}
							}
						},
						"description": "Operation Successful"
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CompteRenduInterventionDO400Response"
								}
							}
						}
					}
				},
				"x-security-in": "IDENTITE_ET_GESTION",
				"x-security-out": "IDENTITE_ET_GESTION"
			}
		},
		"/interventions-do/test-intermediaire": {
			"post": {
				"tags": [
					"demanderTestIntermediaireInterventionDO"
				],
				"summary": "Flux M3TX: demande de test intermediare",
				"operationId": "demanderTestIntermediaireInterventionDO",
				"x-secured-access": "strict",
				"security": [
					{
						"demanderTestIntermediaireInterventionDO_auth": [
						]
					}
				],
				"parameters": [
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DemanderTestIntermediaireInterventionDO"
							}
						}
					},
					"description": "Objet intervention à déclarer chez l'OI",
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DemanderTestIntermediaireInterventionDOOut"
								}
							}
						},
						"description": "Operation Successful"
					},
					"400": {
						"description": "Bad request",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DemanderTestIntermediaireInterventionDO400Response"
								}
							}
						}
					}
				},
				"x-security-in": "IDENTITE_ET_GESTION",
				"x-security-out": "IDENTITE_ET_GESTION"
			}
		}
	},
	"components": {
		"securitySchemes": {
			"compteRenduInterventionDO_auth": {
				"type": "oauth2",
				"x-habilitations": [
				],
				"flows": {
					"implicit": {
						"authorizationUrl": "https://oauth2.bouyguestelecom.fr/authorize",
						"scopes": {
						}
					}
				}
			},
			"creerInterventionDO_auth": {
				"type": "oauth2",
				"x-habilitations": [
				],
				"flows": {
					"implicit": {
						"authorizationUrl": "https://oauth2.bouyguestelecom.fr/authorize",
						"scopes": {
						}
					}
				}
			},
			"demanderTestIntermediaireInterventionDO_auth": {
				"type": "oauth2",
				"x-habilitations": [
				],
				"flows": {
					"implicit": {
						"authorizationUrl": "https://oauth2.bouyguestelecom.fr/authorize",
						"scopes": {
						}
					}
				}
			}
		},
		"schemas": {
			"CompteRenduInterventionDO": {
				"description": "",
				"type": "object",
				"required": [
					"codeDO",
					"codeOI",
					"message",
					"refIntervDO"
				],
				"properties": {
					"codeDO": {
						"description": "Code opérateur Interop du donneur d'ordre",
						"maxLength": 4,
						"type": "string"
					},
					"codeOI": {
						"description": "Code opérateur Interop de l'opérateur d'infrastructure",
						"maxLength": 4,
						"type": "string"
					},
					"lignesImpactees": {
						"description": "",
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/LigneImpacte"
						}
					},
					"lignesRetablies": {
						"description": "",
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/LigneRetablie"
						}
					},
					"message": {
						"description": "",
						"maxLength": 4,
						"minLength": 1,
						"type": "string"
					},
					"refIntervDO": {
						"description": "Référence d'intervention unique produite par le donneur d'ordre et identique sur M1 et M3",
						"maxLength": 50,
						"type": "string"
					},
					"refIntervOI": {
						"description": "",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					}
				}
			},
			"CompteRenduInterventionDOOut": {
				"description": "",
				"type": "object",
				"required": [
					"code",
					"refIntervDO"
				],
				"properties": {
					"code": {
						"description": "0 si OK 1 si CHAMPS_NON_RENSEIGNE 2 si MAUVAIS_FORMAT 3 si CODE_OI_INCONNU 4 si PM_INCONNU",
						"maxLength": 2,
						"minLength": 1,
						"type": "integer",
						"format": "int32"
					},
					"description": {
						"description": "Description de l'erreur",
						"maxLength": 200,
						"type": "string"
					},
					"refIntervDO": {
						"description": "",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"refIntervOI": {
						"description": "Conditionnel: si Libelle_Reponse = OK Référence d'intervention unique produite par l'opérateur d'infrastructure",
						"maxLength": 50,
						"type": "string"
					}
				}
			},
			"CreerInterventionDO": {
				"description": "",
				"type": "object",
				"required": [
					"codeDO",
					"codeOI",
					"dateDebutIntervention",
					"message",
					"nature",
					"pointMutualisation",
					"refIntervDO"
				],
				"properties": {
					"codeDO": {
						"description": "Code opérateur Interop du donneur d'ordre",
						"maxLength": 4,
						"type": "string"
					},
					"codeOI": {
						"description": "Code opérateur Interop de l'opérateur d'infrastructure",
						"maxLength": 4,
						"type": "string"
					},
					"dateDebutIntervention": {
						"description": "debut intervention",
						"type": "string",
						"format": "date-time"
					},
					"dateFinIntervention": {
						"description": "Valeur NULL si M1 Date/heure de fin réel d'intervention si M3 (format selon la norme ISO 8601)",
						"type": "string",
						"format": "date-time"
					},
					"elementReseau": {
						"description": "",
						"type": "string",
						"enum": [
							"PBO",
							"PM",
							"PTO"
						]
					},
					"message": {
						"description": "",
						"maxLength": 4,
						"minLength": 1,
						"type": "string"
					},
					"nature": {
						"description": "Nature finale de l'intervention, valeurs possibles : 1 = RACC PTO à construire 2 = RACC PTO existante 3 = RACC hotline 4 = SAV OC 5 = SAV OI 6 = NON FOURNIE (valeur possible permettant de rendre facultatif la fourniture de l'information)",
						"type": "string",
						"enum": [
							"1",
							"2",
							"20",
							"21",
							"22",
							"4",
							"41",
							"5",
							"6",
							"60",
							"61"
						]
					},
					"pointMutualisation": {
						"$ref": "#/components/schemas/PointMutualisation"
					},
					"refIntervDO": {
						"description": "Référence d'intervention unique produite par le donneur d'ordre et identique sur M1 et M3",
						"maxLength": 50,
						"type": "string"
					},
					"refPBO": {
						"description": "Référence PBO (Ex: PTXXXXXXX) si disponible",
						"maxLength": 100,
						"minLength": 1,
						"type": "string"
					},
					"refPTO": {
						"description": "Référence PTO (Ex: FI-YYYY-YYYY) si disponible Réference prise (protocole interop)",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"referencePrestationPrise": {
						"description": "",
						"maxLength": 30,
						"minLength": 1,
						"type": "string"
					}
				}
			},
			"CreerInterventionDOOut": {
				"description": "",
				"type": "object",
				"required": [
					"code",
					"refIntervDO"
				],
				"properties": {
					"code": {
						"description": "0 si OK 1 si CHAMPS_NON_RENSEIGNE 2 si MAUVAIS_FORMAT 3 si CODE_OI_INCONNU 4 si PM_INCONNU",
						"maxLength": 2,
						"minLength": 1,
						"type": "integer",
						"format": "int32"
					},
					"description": {
						"description": "Description de l'erreur",
						"maxLength": 200,
						"type": "string"
					},
					"refIntervDO": {
						"description": "",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"refIntervOI": {
						"description": "Conditionnel: si Libelle_Reponse = OK Référence d'intervention unique produite par l'opérateur d'infrastructure",
						"maxLength": 50,
						"type": "string"
					}
				}
			},
			"DemanderTestIntermediaireInterventionDO": {
				"description": "",
				"type": "object",
				"required": [
					"codeDO",
					"codeOI",
					"dateTest",
					"message",
					"natureTest",
					"numeroTest",
					"refIntervDO",
					"refIntervOI"
				],
				"properties": {
					"codeDO": {
						"description": "Code opérateur Interop du donneur d'ordre",
						"maxLength": 4,
						"minLength": 1,
						"type": "string"
					},
					"codeOI": {
						"description": "Code opérateur Interop de l'opérateur d'infrastructure",
						"maxLength": 4,
						"minLength": 1,
						"type": "string"
					},
					"dateTest": {
						"description": "",
						"type": "string",
						"format": "date-time"
					},
					"message": {
						"description": "",
						"maxLength": 4,
						"minLength": 1,
						"type": "string"
					},
					"natureTest": {
						"description": "",
						"maxLength": 10,
						"minLength": 1,
						"type": "string"
					},
					"numeroTest": {
						"description": "",
						"maxLength": 2,
						"minLength": 1,
						"type": "integer",
						"format": "int32"
					},
					"refIntervDO": {
						"description": "Référence d'intervention unique produite par le donneur d'ordre et identique sur M1 et M3",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"refIntervOI": {
						"description": "",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					}
				}
			},
			"DemanderTestIntermediaireInterventionDOOut": {
				"description": "",
				"type": "object",
				"required": [
					"code",
					"numeroTest",
					"refIntervDO"
				],
				"properties": {
					"code": {
						"description": "0 si OK 1 si CHAMPS_NON_RENSEIGNE 2 si MAUVAIS_FORMAT 3 si CODE_OI_INCONNU 4 si PM_INCONNU",
						"maxLength": 2,
						"minLength": 1,
						"type": "integer",
						"format": "int32"
					},
					"description": {
						"description": "Description de l'erreur",
						"maxLength": 200,
						"type": "string"
					},
					"numeroTest": {
						"description": "",
						"maxLength": 2,
						"minLength": 1,
						"type": "integer",
						"format": "int32"
					},
					"refIntervDO": {
						"description": "",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"refIntervOI": {
						"description": "Conditionnel: si Libelle_Reponse = OK Référence d'intervention unique produite par l'opérateur d'infrastructure",
						"maxLength": 50,
						"type": "string"
					}
				}
			},
			"LigneImpacte": {
				"description": "",
				"type": "object",
				"properties": {
					"numeroSerieONT": {
						"description": "",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"refPTO": {
						"description": "",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"referencePrestationPrise": {
						"description": "",
						"maxLength": 30,
						"minLength": 1,
						"type": "string"
					},
					"repaCodeOC": {
						"description": "",
						"maxLength": 4,
						"minLength": 1,
						"type": "string"
					},
					"repaOCDemandee": {
						"description": "",
						"type": "boolean"
					},
					"retMessage": {
						"description": "",
						"maxLength": 500,
						"type": "string"
					},
					"retStatut": {
						"description": "",
						"type": "boolean"
					},
					"retTypo": {
						"description": "",
						"maxLength": 500,
						"type": "string"
					}
				}
			},
			"LigneRetablie": {
				"description": "",
				"type": "object",
				"properties": {
					"numeroSerieONT": {
						"description": "",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"refPTO": {
						"description": "",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"referencePrestationPrise": {
						"description": "",
						"maxLength": 30,
						"minLength": 1,
						"type": "string"
					}
				}
			},
			"ModifierInterventionDO": {
				"description": "",
				"type": "object",
				"required": [
					"codeDO",
					"codeOI",
					"dateDebutIntervention",
					"dateFinIntervention",
					"elementReseau",
					"message",
					"nature",
					"pointMutualisation",
					"refIntervDO"
				],
				"properties": {
					"codeDO": {
						"description": "Code opérateur Interop du donneur d'ordre",
						"maxLength": 4,
						"type": "string"
					},
					"codeOI": {
						"description": "Code opérateur Interop de l'opérateur d'infrastructure",
						"maxLength": 4,
						"type": "string"
					},
					"dateDebutIntervention": {
						"description": "debut intervention",
						"type": "string",
						"format": "date-time"
					},
					"dateFinIntervention": {
						"description": "Valeur NULL si M1 Date/heure de fin réel d'intervention si M3 (format selon la norme ISO 8601)",
						"type": "string",
						"format": "date-time"
					},
					"elementReseau": {
						"description": "",
						"type": "string",
						"enum": [
							"PBO",
							"PM",
							"PTO"
						]
					},
					"message": {
						"description": "",
						"maxLength": 4,
						"minLength": 1,
						"type": "string"
					},
					"nature": {
						"description": "Nature finale de l'intervention, valeurs possibles : 1 = RACC PTO à construire 2 = RACC PTO existante 3 = RACC hotline 4 = SAV OC 5 = SAV OI 6 = NON FOURNIE (valeur possible permettant de rendre facultatif la fourniture de l'information)",
						"type": "string",
						"enum": [
							"1",
							"2",
							"20",
							"21",
							"22",
							"4",
							"41",
							"5",
							"6",
							"60",
							"61"
						]
					},
					"pointMutualisation": {
						"$ref": "#/components/schemas/PointMutualisation"
					},
					"refIntervDO": {
						"description": "Référence d'intervention unique produite par le donneur d'ordre et identique sur M1 et M3",
						"maxLength": 50,
						"type": "string"
					},
					"refPBO": {
						"description": "Référence PBO (Ex: PTXXXXXXX) si disponible",
						"maxLength": 100,
						"type": "string"
					},
					"refPTO": {
						"description": "Référence PTO (Ex: FI-YYYY-YYYY) si disponible Réference prise (protocole interop)",
						"maxLength": 50,
						"type": "string"
					},
					"referencePrestationPrise": {
						"description": "",
						"maxLength": 30,
						"minLength": 1,
						"type": "string"
					}
				}
			},
			"ModifierInterventionDOOut": {
				"description": "",
				"type": "object",
				"required": [
					"code",
					"refIntervDO"
				],
				"properties": {
					"code": {
						"description": "0 si OK 1 si CHAMPS_NON_RENSEIGNE 2 si MAUVAIS_FORMAT 3 si CODE_OI_INCONNU 4 si PM_INCONNU",
						"maxLength": 2,
						"minLength": 1,
						"type": "integer",
						"format": "int32"
					},
					"description": {
						"description": "Description de l'erreur",
						"maxLength": 200,
						"type": "string"
					},
					"refIntervDO": {
						"description": "",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"refIntervOI": {
						"description": "Conditionnel: si Libelle_Reponse = OK Référence d'intervention unique produite par l'opérateur d'infrastructure",
						"maxLength": 50,
						"type": "string"
					}
				}
			},
			"PointMutualisation": {
				"description": "",
				"type": "object",
				"required": [
					"refPM",
					"refPMTechnique"
				],
				"properties": {
					"refPM": {
						"description": "Référence réglementaire du PM (ex: FI-XXXXX-XXXX)",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					},
					"refPMTechnique": {
						"description": "C'est la référence du PMTechnique dans le cas d'un regroupement de plusieurs PM Techniques rattachés à un PM. Ce champ permet à l'Oc d'identifier le PM Technique à raccorder (boitier, armoire...) au PBO.",
						"maxLength": 50,
						"minLength": 1,
						"type": "string"
					}
				}
			},
			"CompteRenduInterventionDO400Response": {
				"description": "Description d'une erreur fonctionnelle",
				"type": "object",
				"required": [
					"error"
				],
				"properties": {
					"error": {
						"description": "Le code erreur permet de discriminer les différentes erreurs",
						"type": "string",
						"enum": [
							"CHAMPS_NON_RENSEIGNE",
							"CODE_OI_INCONNU",
							"MAUVAIS_FORMAT",
							"REF_INTERV_INCONNUE"
						]
					},
					"error_description": {
						"description": "Description de l'erreur, si possible fixe pour un même code erreur",
						"type": "string",
						"maxLength": 256
					},
					"error_uri": {
						"description": "L'URI de description de l'erreur",
						"type": "string"
					},
					"error_parameters": {
						"description": "Les paramètres de l'erreur",
						"type": "array",
						"items": {
							"type": "string",
							"maxLength": 64
						}
					}
				}
			},
			"CreerInterventionDO400Response": {
				"description": "Description d'une erreur fonctionnelle",
				"type": "object",
				"required": [
					"error"
				],
				"properties": {
					"error": {
						"description": "Le code erreur permet de discriminer les différentes erreurs",
						"type": "string",
						"enum": [
							"CHAMPS_NON_RENSEIGNE",
							"CODE_OI_INCONNU",
							"MAUVAIS_FORMAT",
							"PM_INCONNU"
						]
					},
					"error_description": {
						"description": "Description de l'erreur, si possible fixe pour un même code erreur",
						"type": "string",
						"maxLength": 256
					},
					"error_uri": {
						"description": "L'URI de description de l'erreur",
						"type": "string"
					},
					"error_parameters": {
						"description": "Les paramètres de l'erreur",
						"type": "array",
						"items": {
							"type": "string",
							"maxLength": 64
						}
					}
				}
			},
			"DemanderTestIntermediaireInterventionDO400Response": {
				"description": "Description d'une erreur fonctionnelle",
				"type": "object",
				"required": [
					"error"
				],
				"properties": {
					"error": {
						"description": "Le code erreur permet de discriminer les différentes erreurs",
						"type": "string",
						"enum": [
							"CHAMPS_NON_RENSEIGNE",
							"CODE_OI_INCONNU",
							"INCOHERENCE",
							"MAUVAIS_FORMAT",
							"REF_INTERV_INCONNUE",
							"TEST_PRECEDENT_DEJA_EMIS",
							"TEST_PRECEDENT_NON_ACQUITTE"
						]
					},
					"error_description": {
						"description": "Description de l'erreur, si possible fixe pour un même code erreur",
						"type": "string",
						"maxLength": 256
					},
					"error_uri": {
						"description": "L'URI de description de l'erreur",
						"type": "string"
					},
					"error_parameters": {
						"description": "Les paramètres de l'erreur",
						"type": "array",
						"items": {
							"type": "string",
							"maxLength": 64
						}
					}
				}
			},
			"ModifierInterventionDO400Response": {
				"description": "Description d'une erreur fonctionnelle",
				"type": "object",
				"required": [
					"error"
				],
				"properties": {
					"error": {
						"description": "Le code erreur permet de discriminer les différentes erreurs",
						"type": "string",
						"enum": [
							"CHAMPS_NON_RENSEIGNE",
							"CODE_OI_INCONNU",
							"M3TX_NON_DEMANDE",
							"MAUVAIS_FORMAT",
							"PM_INCONNU"
						]
					},
					"error_description": {
						"description": "Description de l'erreur, si possible fixe pour un même code erreur",
						"type": "string",
						"maxLength": 256
					},
					"error_uri": {
						"description": "L'URI de description de l'erreur",
						"type": "string"
					},
					"error_parameters": {
						"description": "Les paramètres de l'erreur",
						"type": "array",
						"items": {
							"type": "string",
							"maxLength": 64
						}
					}
				}
			}
		}
	},
	"info": {
		"x-objetmetier": "INTERVENTION-DO",
		"x-sf": "",
		"x-st": "MSF",
		"x-type": "partenaire",
		"x-execution": "api",
		"x-role": "provider",
		"title": "INTERVENTION-DO",
		"version": "1.0.351",
		"description": "",
		"contact": {
			"name": "MOE MSF"
		}
	},
	"tags": [
		{
			"name": "creerInterventionDO",
			"description": "Flux M1: Message transmis par le DO à l’OI pour notifier le début d’intervention."
		},
		{
			"name": "compteRenduInterventionDO",
			"description": "Compte rendu de fin d'intervention qui intervient juste aprés l'envoit du  M3."
		},
		{
			"name": "demanderTestIntermediaireInterventionDO",
			"description": "Flux M3TX: demande de test intermediare"
		},
		{
			"name": "modifierInterventionDO",
			"description": "Flux M3: Le message M3 déclare la fin d’intervention du DO"
		}
	]
}
