{
	"openapi": "3.0.2",
	"servers": [
		{
			"url": "https://partner.api.bouyguestelecom.fr/v1",
			"description": "Racine d'url des API PARTENAIRE en PRODUCTION"
		}
	],
	"paths": {
		"/interventions-oi": {
			"post": {
				"tags": [
					"creerInterventionOI"
				],
				"summary": "permet de mettre à jour le document dont l'id est fourni.",
				"operationId": "creerInterventionOI",
				"x-secured-access": "strict",
				"security": [
					{
						"creerInterventionOI_auth": [
						]
					}
				],
				"parameters": [
					{
						"name": "trackerId",
						"required": false,
						"description": "Navigation Unique Identifier",
						"in": "header",
						"schema": {
							"type": "string",
							"maxLength": 36
						}
					},
					{
						"name": "x-request-id",
						"required": false,
						"description": "Request Identifier",
						"in": "header",
						"schema": {
							"type": "string",
							"maxLength": 36
						}
					},
					{
						"name": "x-source",
						"required": false,
						"description": "Consumer application name",
						"in": "header",
						"schema": {
							"type": "string",
							"maxLength": 64
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/InterventionOi"
							}
						}
					},
					"description": "Objet intervention à déclarer chez l'OC",
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ReponseInterventionOi"
								}
							}
						},
						"description": "Operation Successful"
					}
				},
				"x-security-in": "IDENTITE_ET_GESTION",
				"x-security-out": "IDENTITE_ET_GESTION"
			}
		}
	},
	"components": {
		"securitySchemes": {
			"creerInterventionOI_auth": {
				"type": "oauth2",
				"flows": {
					"implicit": {
						"authorizationUrl": "https://oauth2.bouyguestelecom.fr/authorize",
						"scopes": {
						}
					}
				}
			}
		},
		"schemas": {
			"InfosIntervention": {
				"description": "",
				"type": "object",
				"required": [
					"nature"
				],
				"properties": {
					"elementReseau": {
						"description": "",
						"type": "string"
					},
					"nature": {
						"description": "",
						"type": "string",
						"enum": [
							"AUTRES_TRAVAUX_PROGRAMMES",
							"MAINTENANCE_OI",
							"NON_FOURNIE",
							"OPERATION_DE_MAINTENANCE_OC",
							"RACC",
							"RACC_OU_ SAV",
							"REC_PM_OC",
							"REPRISE_DE_MALFACON _OC",
							"REPRISE_DE_MALFACON _OI",
							"REPRISE_DE_MALFACONS",
							"SAV"
						]
					},
					"refPbo": {
						"description": "",
						"type": "string"
					},
					"refPto": {
						"description": "",
						"type": "string"
					},
					"referencePrestationPrise": {
						"description": "",
						"type": "string"
					}
				}
			},
			"InterventionOi": {
				"description": "",
				"type": "object",
				"required": [
					"codeDo",
					"codeOi",
					"dateDebutIntevention",
					"infosIntervention",
					"message",
					"refIntervOi"
				],
				"properties": {
					"codeDo": {
						"description": "",
						"type": "string"
					},
					"codeOi": {
						"description": "Code opérateur Interop de l'opérateur d'infrastructure",
						"maxLength": 4,
						"type": "string"
					},
					"dateDebutIntevention": {
						"description": "Date/heure de début réel d'intervention (format selon la norme ISO 8601)",
						"type": "string",
						"format": "date-time"
					},
					"dateFinIntervention": {
						"description": "Valeur NULL si M2 Date/heure de fin réel d'intervention si M4 (format selon la norme ISO 8601)",
						"type": "string",
						"format": "date-time"
					},
					"infosIntervention": {
						"description": "",
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/InfosIntervention"
						}
					},
					"message": {
						"description": "",
						"type": "string"
					},
					"messageDo": {
						"description": "",
						"type": "string"
					},
					"numeroTest": {
						"description": "",
						"type": "string"
					},
					"pointMutualisation": {
						"$ref": "#/components/schemas/PointMutualisation"
					},
					"refIntervOi": {
						"description": "Référence d�??intervention unique produite par l�??OI dans R M1/R M3",
						"maxLength": 50,
						"type": "string"
					}
				}
			},
			"PointMutualisation": {
				"description": "",
				"type": "object",
				"required": [
					"refPM"
				],
				"properties": {
					"pointMutualisationTechnique": {
						"$ref": "#/components/schemas/PointMutualisationTechnique"
					},
					"refPM": {
						"description": "Référence réglementaire du PM (ex: FI-XXXXX-XXXX)",
						"maxLength": 50,
						"type": "string"
					}
				}
			},
			"PointMutualisationTechnique": {
				"description": "",
				"type": "object",
				"required": [
					"refPMTechnique"
				],
				"properties": {
					"refPMTechnique": {
						"description": "C'est la référence du PMTechnique dans le cas d'un regroupement de plusieurs PM Techniques rattachés à un PM. Ce champ permet à l'Oc d'identifier le PM Technique à raccorder (boitier, armoire...) au PBO.",
						"type": "string"
					}
				}
			},
			"ReponseInterventionOi": {
				"description": "",
				"type": "object",
				"required": [
					"code",
					"libelle"
				],
				"properties": {
					"code": {
						"description": "0 si OK 1 si CHAMPS_NON_RENSEIGNE 2 si MAUVAIS_FORMAT 3 si CODE_OI_INCONNU 4 si PM_INCONNU",
						"type": "integer",
						"format": "int32"
					},
					"description": {
						"description": "Description de l'erreur",
						"maxLength": 100,
						"type": "string"
					},
					"libelle": {
						"description": "",
						"type": "string",
						"enum": [
							"CHAMPS_NON_RENSEIGNE",
							"CODE_OI_INCONNU",
							"MAUVAIS_FORMAT",
							"OK",
							"PM_INCONNU"
						]
					}
				}
			}
		}
	},
	"info": {
		"x-objetmetier": "INTERVENTION-OI",
		"x-sf": "",
		"x-st": "MSF",
		"x-type": "partenaire",
		"x-execution": "api",
		"x-role": "consumer",
		"title": "INTERVENTION-OI-creerInterventionOI",
		"version": "1.0.249",
		"description": "",
		"contact": {
			"name": "MOE MSF"
		}
	},
	"tags": [
		{
			"name": "creerInterventionOI",
			"description": "permet de mettre à jour le document dont l'id est fourni."
		}
	]
}
