{
	"openapi": "3.0.2",
	"servers": [
		{
			"url": "https://partner.api.bouyguestelecom.fr/v1",
			"description": "Racine d'url des API PARTENAIRE en PRODUCTION"
		}
	],
	"paths": {
		"/interventions-oi/test-intermediare": {
			"post": {
				"tags": [
					"demanderTestIntermediareInterventionOI"
				],
				"summary": "permet de mettre à jour le document dont l'id est fourni.",
				"operationId": "demanderTestIntermediareInterventionOI",
				"x-secured-access": "strict",
				"security": [
					{
						"demanderTestIntermediareInterventionOI_auth": [
							"EXT_InterventionOiManage"
						]
					}
				],
				"parameters": [
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/DemanderTestIntermediareInterventionOI"
							}
						}
					},
					"description": "Objet intervention à déclarer chez l'OI",
					"required": true
				},
				"responses": {
					"200": {
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/DemanderTestIntermediareInterventionOIOut"
								}
							}
						},
						"description": "Operation Successful"
					}
				},
				"x-security-in": "IDENTITE_ET_GESTION",
				"x-security-out": "IDENTITE_ET_GESTION"
			}
		}
	},
	"components": {
		"securitySchemes": {
			"demanderTestIntermediareInterventionOI_auth": {
				"type": "oauth2",
				"x-habilitations": [
				],
				"flows": {
					"implicit": {
						"authorizationUrl": "https://oauth2.bouyguestelecom.fr/authorize",
						"scopes": {
							"EXT_InterventionOiManage": ""
						}
					}
				}
			}
		},
		"schemas": {
			"DemanderTestIntermediareInterventionOI": {
				"description": "",
				"type": "object",
				"required": [
					"codeOI",
					"dateTest",
					"infosIntervention",
					"message",
					"natureTest",
					"numeroTest"
				],
				"properties": {
					"codeOI": {
						"description": "Code opérateur Interop de l'opérateur d'infrastructure",
						"maxLength": 4,
						"type": "string"
					},
					"dateTest": {
						"description": "",
						"type": "string",
						"format": "date-time"
					},
					"infosIntervention": {
						"description": "",
						"type": "array",
						"items": {
							"$ref": "#/components/schemas/InfoIntervention"
						}
					},
					"message": {
						"description": "",
						"type": "string"
					},
					"natureTest": {
						"description": "",
						"type": "string"
					},
					"numeroTest": {
						"description": "",
						"type": "string"
					}
				}
			},
			"DemanderTestIntermediareInterventionOIOut": {
				"description": "",
				"type": "object",
				"required": [
					"code",
					"libelle",
					"numeroTest"
				],
				"properties": {
					"code": {
						"description": "0 si OK 1 si CHAMPS_NON_RENSEIGNE 2 si MAUVAIS_FORMAT 3 si CODE_OI_INCONNU 4 si PM_INCONNU",
						"type": "integer",
						"format": "int32"
					},
					"description": {
						"description": "Description de l'erreur",
						"maxLength": 100,
						"type": "string"
					},
					"libelle": {
						"description": "",
						"type": "string",
						"enum": [
							"CHAMPS_NON_RENSEIGNE",
							"CODE_OI_INCONNU",
							"INCOHERENCE",
							"MAUVAIS_FORMAT",
							"OK",
							"PM_INCONNU",
							"TEST_NON_REALISE"
						]
					},
					"numeroTest": {
						"description": "",
						"type": "string"
					},
					"refIntervOI": {
						"description": "Conditionnel: si Libelle_Reponse = OK Référence d'intervention unique produite par l'opérateur d'infrastructure",
						"maxLength": 50,
						"type": "string"
					}
				}
			},
			"InfoIntervention": {
				"description": "",
				"type": "object",
				"properties": {
					"refPbo": {
						"description": "Référence PBO (Ex: PTXXXXXXX) si disponible",
						"maxLength": 100,
						"type": "string"
					}
				}
			}
		}
	},
	"info": {
		"x-objetmetier": "INTERVENTION-OI",
		"x-sf": "",
		"x-st": "MSF",
		"x-type": "partenaire",
		"x-execution": "api",
		"x-role": "provider",
		"title": "INTERVENTION-OI-demanderTestIntermediareInterventionOI",
		"version": "1.0.250",
		"description": "",
		"contact": {
			"name": "MOE MSF"
		}
	},
	"tags": [
		{
			"name": "demanderTestIntermediareInterventionOI",
			"description": "permet de mettre à jour le document dont l'id est fourni."
		}
	]
}
